@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Righteous&family=Roboto+Condensed:wght@300&family=Ubuntu:wght@300&display=swap');

.components .row, text {
    margin-left: 15px;
}


.collapsible .static {
    margin-bottom: 33px !important;
    border: none !important;
}

.aFrameText {
    margin-left: 5.8%;
    margin-bottom: 5% !important;
}

.a-enter-vr {
    position: relative !important;
}

.a-canvas {
    position: relative !important;
    
}

.toggle-edit {
    margin-top: 6.5% !important;
}

#left-sidebar {
    padding-top: 10%;
}
.toolbar {
	padding-left: 10px;
	margin-top: 89px;
    padding-bottom: 42px;
}







body {
    padding: 0%;
    margin: 0%;
    font-family: 'Lato';
}

.navbar-brand {
    font-family: 'Pacifico';
    font-size: 30px;
    color: #00E8E8 !important;
}

.nav-link {
    font-size: 18px;
    margin: 15px;
    color: black !important;
    font-family: 'Roboto Condensed';
}
    .nav-link:hover{
        color: lightcoral !important;
    }
    
    .active .nav-link {
        color: lightcoral !important;
    }

.site-content {
    background-image: url("Images/oculus-rift-s-2-1.jpg");
    background-attachment: fixed;
    background-size: cover;
}

.site-title {
    margin-top: 30%;
    margin-bottom: 6%;
    margin-left: 3%;
    font-size: 50px;
}

.site-desc {
    font-size: 18px;
    padding-left: 13%;
}

.site-btn1 {
    margin-left: 33%;
    background-color: black;
    color: white;
}

.site-btn2 {
    background-color: white;
}

.site-btn1, .site-btn2 {
    margin-top: 5%;
    margin-bottom: 35%;
}



/* Section-1 */

.section-1 .heading-1 {
    margin-top: 8%;
}

.section-1 .heading-2 {
    margin-bottom: 5%;
    font-size: 39px;
}

.section-1 .param-1 {
    width: 60%;
    margin-left: 20%;
    margin-bottom: 5%;
}

.section-1 .card-text .param-1 {
    color: rgba(0, 0, 0, 0.59);
}

.section-1 {
    margin-bottom: 5%;
}

.card {
    width: 20rem;
}



/*Section-2*/

.section-2 .container-fluid {
    background-image: url("Images/pexels-mali-maeder-756439.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.section-2 .heading-1 {
    margin-top: 30%;
    margin-bottom: 4%;
    font-family: 'Righteous';
    width: 80%;
    color: whitesmoke;
}

.section-2 .para {
    width: 80%;
    font-family: 'Ubuntu';
    color: whitesmoke;
}

.section-2 .btn {
    margin-bottom: 15%;
    width: 30%;
    padding: 2% 5%;
}


/*Section-3*/

.section-3 {
    margin-top: 6%;
}

.section-3 i {
    color: #00E8E8;
}

.section-3 p {
    color: rgba(0, 0, 0, 0.59);
}



/*Section 4*/

.section-4 {
    margin-top: 8%;
}

.section-4 .row .col-md-7, .col-md-5 {
    margin-top: 10%;
    margin-bottom: 5%;
}

.section-4 .col-md-5 {
    padding-left: 9%;
}

.section-4 a {
    color: lightseagreen;
    font-size: 40px;
    text-decoration: none;
}

.section-4 .param-1 {
    color: white;
    font-family: 'Roboto Condensed';
    margin-top: 7%;
    font-size: 23px;
}


/*footer*/

.social i {
    color: #00E8E8;
    font-size: 40px;
}


/*Media Screen*/

@media screen and (max-width: 1136px) {
    .section-1 .card {
        width: 14rem;
    }

    .section-4 .col-md-7 img{
        width: 610px;
    }
}


@media screen and (max-width: 992px) {
    .section-1 .col-md-4 {
        margin-right: 15%;
    }

    .section-1 .card {
        width: 14rem;
    }

    .section-4 .col-md-5{
        margin-top: 18%;
    }
    .section-4 .col-md-5 a {
        color: whitesmoke;
        font-weight: bold;
    }

    .section-4 .col-md-5 .param-1 {
        display: none;
    }
}



@media screen and (max-width: 768px){
    .site-content .site-btn2 {
        margin-right: 12%;
    }

    .section-1 .card {
        width: 14rem;
    }
    .section-4 .col-md-7 img {
        width: 100%;
    }
    .section-4 .col-md-5 .param-1 {
        display: block;
    }

    .section-1 .card {
        margin-left: 20%;
    }
}

@media screen and (max-width: 541px) {
    .site-content .site-btn2 {
        margin-left: 2%;
    }

    .site-content .site-btn1 {
        margin-left: 140px;
    }
}

@media screen and (max-width: 492px) {

    .site-content .site-btn2 {
        margin-left: 2%;
    }

    .site-content .site-btn1 {
        margin-left: 100px;
    }

    .section-1 .col-md-4 {
        margin-right: 28%;
    }
}

@media screen and (max-width: 478px) {
    .site-content .site-btn2 {
        margin-left: 2%;
    }

    .site-content .site-btn1 {
        margin-left: 90px;
    }

}

@media screen and (max-width: 441px) {
    .site-content .site-btn2 {
        margin-left: 2%;
    }

    .site-content .site-btn1 {
        margin-left: 70px;
    }
}

@media screen and (max-width: 398px) {
    .site-content .site-btn2 {
        margin-left: 2%;
    }

    .site-content .site-btn1 {
        margin-left: 50px;
    }
}

    @media screen and (max-width: 380px) {
        .section-1 .col-md-4 {
            margin-left: 25%;
        }

        .site-content .site-btn2 {
            margin-left: 2%;
        }

        .site-content .site-btn1 {
            margin-left: 40px;
        }

        .section-1 .card {
            margin: auto;
        }
    }

    @media screen and (max-width: 320px) {
        .site-content .site-title {
            font-size: 30px;
            padding-left: 15%;
        }

        .site-content .site-btn2 {
            display: none;
        }

        .site-content .site-btn1 {
            margin-left: 33%;
        }

        .section-1 .heading-1, .section-1 .heading-2 {
            font-size: 25px;
        }

        .section-1 .col-md-4 {
            padding: 5%;
            margin-left: 8%;
        }

        .section-1 .card {
            width: 10rem;
        }

        .section-4 .col-md-5 {
            padding: 0% 15%;
        }

        footer input[type="button"] {
            margin-top: 5%;
        }
    }