@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Righteous&family=Roboto+Condensed:wght@300&family=Ubuntu:wght@300&display=swap');

.components .row, text {
    margin-left: 15px;
}


.collapsible .static {
    margin-bottom: 33px !important;
    border: none !important;
}

.aFrameText {
    margin-left: 5.8%;
    margin-bottom: 5% !important;
}

.a-enter-vr {
    position: relative !important;
}
.a-enter-vr-button {
    margin-bottom: 76px;
}

.a-canvas {
    position: relative !important;
    
}

.toggle-edit {
    margin-top: 6.5% !important;
}

#left-sidebar {
    padding-top: 10%;
}
.toolbar {
	padding-left: 10px;
	margin-top: 89px;
    padding-bottom: 42px;
}







body {
    padding: 0%;
    margin: 0%;
    font-family: 'Lato';
}

.navbar-brand {
    font-family: 'Pacifico';
    font-size: 30px;
    color: #00E8E8 !important;
}

.nav-link {
    font-size: 18px;
    margin: 15px;
    color: black !important;
    font-family: 'Roboto Condensed';
}
    .nav-link:hover{
        color: lightcoral !important;
    }
    
    .active .nav-link {
        color: lightcoral !important;
    }

.site-content {
    background-image: url("Images/oculus-rift-s-2-1.jpg");
    background-attachment: fixed;
    background-size: cover;
}

.site-title {
    margin-top: 30%;
    margin-bottom: 6%;
    margin-left: 3%;
    font-size: 50px;
}

.site-desc {
    font-size: 18px;
    padding-left: 13%;
}

.site-btn1 {
    margin-left: 33%;
    background-color: black;
    color: white;
}

.site-btn2 {
    background-color: white;
}

.site-btn1, .site-btn2 {
    margin-top: 5%;
    margin-bottom: 35%;
}



/* Section-1 */

.section-1 .heading-1 {
    margin-top: 8%;
}

.section-1 .heading-2 {
    margin-bottom: 5%;
    font-size: 39px;
}

.section-1 .param-1 {
    width: 60%;
    margin-left: 20%;
    margin-bottom: 5%;
}

.section-1 .card-text .param-1 {
    color: rgba(0, 0, 0, 0.59);
}

.section-1 {
    margin-bottom: 5%;
}

.card {
    width: 20rem;
}



/*Section-2*/

.section-2 .container-fluid {
    background-image: url("Images/pexels-mali-maeder-756439.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.section-2 .heading-1 {
    margin-top: 30%;
    margin-bottom: 4%;
    font-family: 'Righteous';
    width: 80%;
    color: whitesmoke;
}

.section-2 .para {
    width: 80%;
    font-family: 'Ubuntu';
    color: whitesmoke;
}

.section-2 .btn {
    margin-bottom: 15%;
    width: 30%;
    padding: 2% 5%;
}


/*Section-3*/

.section-3 {
    margin-top: 6%;
}

.section-3 i {
    color: #00E8E8;
}

.section-3 p {
    color: rgba(0, 0, 0, 0.59);
}



/*Section 4*/

.section-4 {
    margin-top: 8%;
}

.section-4 .row .col-md-7, .col-md-5 {
    margin-top: 10%;
    margin-bottom: 5%;
}

.section-4 .col-md-5 {
    padding-left: 9%;
}

.section-4 a {
    color: lightseagreen;
    font-size: 40px;
    text-decoration: none;
}

.section-4 .param-1 {
    color: white;
    font-family: 'Roboto Condensed';
    margin-top: 7%;
    font-size: 23px;
}


/*footer*/

.social i {
    color: #00E8E8;
    font-size: 40px;
}


/*Media Screen*/

@media screen and (max-width: 1136px) {
    .section-1 .card {
        width: 14rem;
    }

    .section-4 .col-md-7 img{
        width: 610px;
    }
}


@media screen and (max-width: 992px) {
    .section-1 .col-md-4 {
        margin-right: 15%;
    }

    .section-1 .card {
        width: 14rem;
    }

    .section-4 .col-md-5{
        margin-top: 18%;
    }
    .section-4 .col-md-5 a {
        color: whitesmoke;
        font-weight: bold;
    }

    .section-4 .col-md-5 .param-1 {
        display: none;
    }
}



@media screen and (max-width: 768px){
    .site-content .site-btn2 {
        margin-right: 12%;
    }

    .section-1 .card {
        width: 14rem;
    }
    .section-4 .col-md-7 img {
        width: 100%;
    }
    .section-4 .col-md-5 .param-1 {
        display: block;
    }

    .section-1 .card {
        margin-left: 20%;
    }
}

@media screen and (max-width: 541px) {
    .site-content .site-btn2 {
        margin-left: 2%;
    }

    .site-content .site-btn1 {
        margin-left: 140px;
    }
}

@media screen and (max-width: 492px) {

    .site-content .site-btn2 {
        margin-left: 2%;
    }

    .site-content .site-btn1 {
        margin-left: 100px;
    }

    .section-1 .col-md-4 {
        margin-right: 28%;
    }
}

@media screen and (max-width: 478px) {
    .site-content .site-btn2 {
        margin-left: 2%;
    }

    .site-content .site-btn1 {
        margin-left: 90px;
    }

}

@media screen and (max-width: 441px) {
    .site-content .site-btn2 {
        margin-left: 2%;
    }

    .site-content .site-btn1 {
        margin-left: 70px;
    }
}

@media screen and (max-width: 398px) {
    .site-content .site-btn2 {
        margin-left: 2%;
    }

    .site-content .site-btn1 {
        margin-left: 50px;
    }
}

    @media screen and (max-width: 380px) {
        .section-1 .col-md-4 {
            margin-left: 25%;
        }

        .site-content .site-btn2 {
            margin-left: 2%;
        }

        .site-content .site-btn1 {
            margin-left: 40px;
        }

        .section-1 .card {
            margin: auto;
        }
    }

    @media screen and (max-width: 320px) {
        .site-content .site-title {
            font-size: 30px;
            padding-left: 15%;
        }

        .site-content .site-btn2 {
            display: none;
        }

        .site-content .site-btn1 {
            margin-left: 33%;
        }

        .section-1 .heading-1, .section-1 .heading-2 {
            font-size: 25px;
        }

        .section-1 .col-md-4 {
            padding: 5%;
            margin-left: 8%;
        }

        .section-1 .card {
            width: 10rem;
        }

        .section-4 .col-md-5 {
            padding: 0% 15%;
        }

        footer input[type="button"] {
            margin-top: 5%;
        }
    }










.polygonBody {
    overflow: hidden;
    font-family: tahoma, sans-serif;
    font-size: 12px;
    background-color: #202020;
}

    .polygonBody #container {
        position: relative;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
    }

        .polygonBody #container #intro {
            position: absolute;
            padding-top: 150px;
            left: 0;
            top: 0;
            padding: 50px 0px;
            left: auto;
            pointer-events: none;
            transition: opacity 250ms ease-out;
            color: white;
        }

        .polygonBody #container #intro h1 {
            font-size: 45.5px;
            text-transform: uppercase;
            font-weight: bold;
            line-height: 1em;
        }

        .polygonBody #intro h2 {
            font-size: 11px;
            text-transform: uppercase;
            font-weight: normal;
            margin-bottom: 1em;
        }


        .polygonBody #intro li {
            font-weight: normal;
            font-size: 11px;
        }
    .polygonBody #closeBtn {
        font-size: 14px;
        border: 1px solid white;
        border-radius: 20px;
        display: inline;
        padding: 10px;
        pointer-events: auto;
        cursor: pointer;
    }

        .polygonBody #closeBtn:hover {
            color: red;
        }

    .polygonBody .hidden {
        opacity: 0
    }

    .polygonBody #sizes {
        margin-bottom: 30px;
        margin-left: 10px;
    }

    .polygonBody #intro a {
        pointer-events: auto;
    }

    .polygonBody #loaded {
        display: none
    }

    .polygonBody #loading {
        padding: 20px 0;
        text-align: center
    }

@media screen and (max-width: 700px) {
    .polygonBody body {
        font-size: 14px;
    }
    .polygonBody #instructions {
        display: none;
    }

    .polygonBody #sizes {
        margin: 10px 0 40px 0;
    }

    .polygonBody #minIntro {
        text-align: center;
        width: 100%;
    }
}


/*Contact Page*/
.contactBody, .createBody, .germanyBody, .FranceBody {
    height: 100vh;
    margin-top: 50px;
    margin-bottom: 70px;
    width: 100%;
}

    .contactBody .container, .createBody .container, .germanyBody .container, .FranceBody .container {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px 0;
    }

        .contactBody .container:after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            background: url("../../Images/ContactPage/blurcontact.jpg") no-repeat center;
            background-size: cover;
            filter: blur(50px);
            z-index: -1;
        }

        .FranceBody .container:after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            background: url("../../Images/Paketa/France.jpg") no-repeat center;
            background-size: cover;
            filter: blur(50px);
            z-index: -1;
        }

        .createBody .container:after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            background: url("../../Images/Paketa/Italy.jpg") no-repeat center;
            background-size: cover;
            filter: blur(50px);
            z-index: -1;
        }

        .germanyBody .container:after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            background: url("../../Images/Paketa/Germany.jpg") no-repeat center;
            background-size: cover;
            filter: blur(50px);
            z-index: -1;
        }

    .contactBody .contact-box, .createBody .contact-box, .germanyBody .contact-box, .FranceBody .contact-box {
        max-width: 850px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: #fff;
        box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
    }

    .contactBody .left {
        background: url("../Images/ContactPage/blurcontact.jpg") no-repeat center;
        background-size: cover;
        height: 100%;
    }

    .FranceBody .left {
        background: url("../../Images/Paketa/France.jpg") no-repeat center;
        background-size: cover;
        height: 100%;
    }

    .germanyBody .left {
        background: url("../../Images/Paketa/Germany.jpg") no-repeat center;
        background-size: cover;
        height: 100%;
    }

    .createBody .left {
        background: url("../../Images/Paketa/Italy.jpg") no-repeat center;
        background-size: cover;
        height: 100%;
    }

.right {
    padding: 25px 40px;
}

.contactBody h2, .createBody h2, .germanyBody h2, .FranceBody h2 {
    position: relative;
    padding: 0 0 10px;
    margin-bottom: 10px;
}

    .contactBody h2:after, .createBody h2:after, .germanyBody h2:after, .FranceBody h2:after {
        content: '';
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        height: 4px;
        width: 50px;
        border-radius: 2px;
        background-color: #eb2922;
    }

.field {
    width: 100%;
    border: 2px solid rgba(0, 0, 0, 0);
    outline: none;
    background-color: rgba(230, 230, 230, 0.6);
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    margin-bottom: 22px;
    transition: .3s;
}

    .field:hover {
        background-color: rgba(0, 0, 0, 0.1);
    }

.contactBody textarea, .createBody textarea, .germanyBody textarea, .FranceBody textarea {
    min-height: 150px;
}

.contactBody .btn, .createBody .btn, .germanyBody .btn, .FranceBody .btn {
    width: 100%;
    padding: 0.5rem 1rem;
    background-color: #00b5b5;
    color: #fff;
    font-size: 1.1rem;
    border: none;
    outline: none;
    cursor: pointer;
    transition: .3s;
}

    .contactBody .btn:hover, .createBody .btn:hover, .germanyBody .btn:hover, .FranceBody .btn:hover {
        background-color: #009c9c;
    }

.field:focus {
    border: 2px solid rgba(30,85,250,0.47);
    background-color: #fff;
}

@media screen and (max-width: 880px) {
    .contactBody .contact-box, .createBody .contact-box, .germanyBody .contact-box, .FranceBody .contact-box {
        grid-template-columns: 1fr;
    }

    .left {
        height: 200px;
    }
}

select, textarea {
    color: #eb2922;
}

input {
    color: #009c9c;
}

.textalign {
    text-align: center;
}

input:focus {
    color: #00b5b5;
}

textarea:focus {
    color: #eb2922;
}



/*Login and Register Body*/
.login {
    padding-top: 50px;
    padding-bottom: 125px;
    background: url("../Images/Progressively-Loading-Images-With-Blur-Effect-min.png") no-repeat center;
}

    .login a {
        text-decoration: none !important;
    }

.register a {
    color: white;
}

    .register a:hover {
        color: #009c9c;
    }

.forgot a {
    color: white;
}

    .forgot a:hover {
        color: #eb2922;
    }

.b {
    color: floralwhite !important;
}

.registerbody {
    padding-top: 50px;
    padding-bottom: 200px;
    background: url("../Images/images.jpg") no-repeat center;
    background-size: cover;
}

.registerbody, .login ul {
    list-style: none;
}

@media screen and (max-width: 760px) {
    .mob {
        margin-right: 240px;
    }
}

@media screen and (max-width: 680px) {
    .mob {
        margin-right: 100px;
    }
}

.kot, .kot:hover {
    text-decoration: none;
    color: black;
}

.kot1, .kot1:hover {
    text-decoration: none;
    color: #007bff;
}

.kot2, .kot2:hover {
    text-decoration: none;
    color: white;
}

/*Services Page*/
.dimg1, .dimg2, .dimg3, .dimg4,
.ger1, .ger2, .ger3, .ger4,
.fra1, .fra2, .fra3, .fra4 {
    position: relative;
    opacity: 0.80;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/*Italy*/
.dimg1 {
    background-image: url("../../Images/Services/Italy/ItalyService.jpg");
    min-height: 520px;
}

.dimg2 {
    background-image: url("../../Images/Services/Italy/MilanoServices.jpg");
    min-height: 400px;
}

.dimg3 {
    background-image: url("../../Images/Services/Italy/VeniceServices.jpg");
    min-height: 400px;
}

.dimg4 {
    background-image: url("../../Images/Services/Italy/RomeServices.jpg");
    min-height: 520px;
}

/*Germany*/
.ger1 {
    background-image: url("../../Images/Services/Germany/GermanyServices.jpg");
    min-height: 520px;
}

.ger2 {
    background-image: url("../../Images/Services/Germany/BerlinServices.jpg");
    min-height: 400px;
}

.ger3 {
    background-image: url("../../Images/Services/Germany/MunichServices.jpg");
    min-height: 400px;
}

.ger4 {
    background-image: url("../../Images/Services/Germany/FrankfurtServices.jpg");
    min-height: 520px;
}

/*France*/
.fra1 {
    background-image: url("../../Images/Services/France/FranceServices.jpg");
    min-height: 520px;
}

.fra2 {
    background-image: url("../../Images/Services/France/ParisServices.jpg");
    min-height: 400px;
}

.fra3 {
    background-image: url("../../Images/Services/France/LyonServices.jpg");
    min-height: 400px;
}

.fra4 {
    background-image: url("../../Images/Services/France/NiceServices.jpg");
    min-height: 520px;
}

.section {
    text-align: center;
    padding: 50px 80px;
}

.section-light {
    background-color: #34495e;
    color: white;
}

.section-dark {
    background-color: #2b3c4c;
    color: white;
}

.ptext {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
}

    .ptext .border {
        background-color: #34495e;
        color: white;
        padding: 20px;
    }

        .ptext .border.trans {
            background-color: transparent;
        }
/*SUB NAVIGATION BAR*/
.servicespick ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    padding: 0px 39%;
    overflow: hidden;
    background-color: #34495e;
    margin: 0;
}

.servicespick li {
    float: left;
}

    .servicespick li a {
        display: flex;
        justify-content: center;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

        .servicespick li a:hover {
            background-color: #2980b9;
        }

.active1 {
    background-color: #2980b9;
}

/*Butoni Scroll back to top*/
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 20px;
    border: none;
    outline: none;
    background-color: #ef5651;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}

    #myBtn:hover {
        background-color: #eb2922;
    }