@{
    ViewBag.Title = "About";
}
      

    <div class="about-section">
        <div class="inner-width">
            <h1>About Us</h1>
            <div class="border"></div>
            <div class="about-section-row">
                <div class="about-section-col">
                    <div class="about">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga provident ea hic, 
                        neque amet sequi temporibus iure aliquid placeat inventore. Quae dolores dolore, cum 
                        nulla quas ipsum facere maxime, necessitatibus!</p>
                        <a href="#">Read More</a>
                    </div>
                </div>
                <div class="about-section-col">
                    <div class="skills">
                        <div class="skill">
                            <div class="title">Europe</div>
                            <div class="progress">
                                <div class="progress-bar p1"><span>90%</span></div>
                            </div>
                        </div>
                        <div class="skill">
                            <div class="title">America-Asia</div>
                            <div class="progress">
                                <div class="progress-bar p2"><span>70%</span></div>
                            </div>
                        </div>
                        <div class="skill">
                            <div class="title">Other Places</div>
                            <div class="progress">
                                <div class="progress-bar p3"><span>50%</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="aboutBody">
        <div class="blur"></div>
        <h2 class="text-dark text-center" style="padding-top: 45px; ">Meet The Developers</h2>
        <div class="container">
            <div class="box">
                <div class="imgBx">
                    <img src="~/Images/Developers/me.jpg">
                </div>
                <div class="content">
                    <h3 style="font-size:30px; color: black">Andi Leka</h3>
                    <p class="text-dark">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                        nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                        irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur
                        . Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
                        anim id est laborum.

                        <div class="d-flex flex-row justify-content-center" style="font-size: 30px; margin-top: 15px;">
                            <a href="#" style="margin-right:1%;"><i class="fab fa-facebook-f m-2"></i></a>
                            <a href="#" style="margin-right:1%;"><i class="fab fa-twitter m-2"></i></a>
                            <a href="#" style="margin-right:1%;"><i class="fab fa-instagram m-2"></i></a>
                            <a href="#" style="margin-right:1%;"><i class="fab fa-youtube m-2"></i></a>
                        </div>
                    </p>
                </div>
            </div>
            <div class="box">
                <div class="imgBx">
                    <img src="~/Images/Developers/darli.jpg">
                </div>
                <div class="content">
                    <h3 style="font-size:30px; color: black">Darli Varfi</h3>
                    <p class="text-dark">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor 
                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud 
                        exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                        dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt 
                        mollit anim id est laborum.

                        <div class="d-flex flex-row justify-content-center social" style="font-size: 30px; margin-top: 15px;">
                            <a href="#" style="margin-right:1%;"><i class="fab fa-facebook-f m-2"></i></a>
                            <a href="#" style="margin-right:1%;"><i class="fab fa-twitter m-2"></i></a>
                            <a href="#" style="margin-right:1%;"><i class="fab fa-instagram m-2"></i></a>
                            <a href="#" style="margin-right:1%;"><i class="fab fa-youtube m-2"></i></a>
                        </div>
                    </p>
                </div>
            </div>
        </div>   
    </div>
