
@{
    ViewBag.Title = "France";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="servicespick">
    <ul>
        <li>@Html.ActionLink("Italy", "Italy", "Home")</li>
        <li>@Html.ActionLink("Germany", "Germany", "Home")</li>
        <li class="active1">@Html.ActionLink("France", "France", "Home")</li>
    </ul>
</div>
<div class="fra1">
    <div class="ptext">
        <span class="border"> France </span>
    </div>
</div>

<section class="section section-light">
    <h2> France </h2>
    <p>
        France has been a center of Western cultural development for centuries. Many French artists have been among the most renowned of their time, 
        and France is still recognized in the world for its rich cultural tradition.
        The successive political regimes have always promoted artistic creation, and the creation of the Ministry of Culture in 1959 helped preserve 
        the cultural heritage of the country and make it available to the public. The Ministry of Culture has been very active since its creation, 
        granting subsidies to artists, promoting French culture in the world, supporting festivals and cultural events, protecting historical 
        monuments. The French government also succeeded in maintaining a cultural exception to defend audiovisual products made in the country.
    </p>
    <p>
        France receives the highest number of tourists per year, largely thanks to the numerous cultural establishments and historical buildings 
        implanted all over the territory. It counts 1,200 museums welcoming more than 50 million people annually. The most important cultural 
        sites are run by the government, for instance through the public agency Centre des monuments nationaux, which is responsible for approximately
        85 national historical monuments.
        The 43,180 buildings protected as historical monuments include mainly residences (many castles) and religious buildings 
        (cathedrals, basilicas, churches), but also statues, memorials and gardens. The UNESCO inscribed 41 sites in France on the World Heritage 
        List.
    </p>
</section>

<div class="fra2">
    <div class="ptext">
        <span class="border trans"> Paris </span>
    </div>
</div>

<section class="section section-dark">
    <p>
        For centuries, Paris has attracted artists from around the world, who arrive in the city to educate themselves and to seek inspiration from 
        its vast pool of artistic resources and galleries. As a result, Paris has acquired a reputation as the "City of Art". Italian artists
        were a profound influence on the development of art in Paris in the 16th and 17th centuries, particularly in sculpture and reliefs.
        Painting and sculpture became the pride of the French monarchy and the French royal family commissioned many Parisian artists to adorn their
        palaces during the French Baroque and Classicism era. Sculptors such as Girardon, Coysevox and Coustou acquired reputations as the finest
        artists in the royal court in 17th-century France. Pierre Mignard became the first painter to King Louis XIV during this period. In 1648,
        the Académie royale de peinture et de sculpture (Royal Academy of Painting and Sculpture) was established to accommodate for the dramatic 
        interest in art in the capital. This served as France's top art school until 1793.
    </p>
    <p>
        Paris was in its artistic prime in the 19th century and early 20th century, when it had a colony of artists established in the city and in
        art schools associated with some of the finest painters of the times: Édouard Manet, Claude Monet, Berthe Morisot, Paul Gauguin, 
        Pierre-Auguste Renoir and others. The French Revolution and political and social change in France had a profound influence on art in the 
        capital. Paris was central to the development of Romanticism in art, with painters such as Gericault. Impressionism, Art Nouveau, 
        Symbolism, Fauvism, Cubism and Art Deco movements all evolved in Paris.
    </p>
</section>

<div class="fra3">
    <div class="ptext">
        <span class="border trans"> Lyon </span>
    </div>
</div>

<section class="section section-dark">
    <p>
        Lyon had a population of 513,275 in 2015. It is the capital of the Metropolis of Lyon and the region of Auvergne-Rhône-Alpes. 
        The Lyon metropolitan area had a population of 2,265,375 in 2014. The city is known for its cuisine and gastronomy, and historical
        and architectural landmarks; part of it is registered as a UNESCO World Heritage site. Lyon was historically an important area for the
        production and weaving of silk. Lyon played a significant role in the history of cinema: it is where Auguste and Louis Lumière invented the 
        cinematograph. It is also known for its light festival, the Fête des Lumières, which begins every 8 December and lasts for four days, earning
        Lyon the title of Capital of Lights.
    </p>
    <p>
        Economically, Lyon is a major centre for banking, as well as for the chemical, pharmaceutical, and biotech industries. The city contains a 
        significant software industry with a particular focus on video games, and in recent years has fostered a growing local start-up sector. Lyon
        hosts the international headquarters of Interpol, the International Agency for Research on Cancer and Euronews. According to the Globalization and
        World Rankings Research Institute, Lyon is considered a Beta city, as of 2018. It ranked second in France and 40th globally in Mercer's 2019 
        liveability rankings.
    </p>
</section>

<div class="fra4">
    <div class="ptext">
        <span class="border trans"> Nice </span>
    </div>
</div>

<section class="section section-dark">
    <p>
        The city is nicknamed Nice la Belle (Nissa La Bella in Niçard), which means Nice the Beautiful, which is also the title of the unofficial
        anthem of Nice, written by Menica Rondelly in 1912. The area of today's Nice contains Terra Amata, an archaeological site which displays
        evidence of a very early use of fire 380,000 years ago. Around 350 BC, Greeks of Marseille founded a permanent settlement and called it
        Nikaia, after Nike, the goddess of victory. Through the ages, the town has changed hands many times. Its strategic location and port 
        significantly contributed to its maritime strength. For centuries it was a dominion of Savoy, and was then part of France between 1792 and 
        1815, when it was returned to the Kingdom of Piedmont-Sardinia until its re-annexation by France in 1860.
    </p>
    <p>
        The natural environment of the Nice area and its mild Mediterranean climate came to the attention of the English upper classes in the second 
        half of the 18th century, when an increasing number of aristocratic families took to spending their winters there. The city's main seaside
        promenade, the Promenade des Anglais ("Walkway of the English") owes its name to visitors to the resort. The clear air and soft light have
        particularly appealed to notable painters, such as Marc Chagall, Henri Matisse, Niki de Saint Phalle and Arman. Their work is commemorated in
        many of the city's museums, including Musée Marc Chagall, Musée Matisse and Musée des Beaux-Arts. Nice has the second largest hotel 
        capacity in the country and it is one of its most visited cities, receiving 4 million tourists every year. It also has the third 
        busiest airport in France, after the two main Parisian ones. It is the historical capital city of the County of Nice (Comté de Nice).
    </p>
</section>

<div class="fra1">
    <div class="ptext">
        <span class="border"> @Html.ActionLink("Purchase Now", "France", "PaketaInfoes", null, new { @class = "kot2 hover" }) </span>
    </div>
</div>