
@{
    ViewBag.Title = "Germany";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="servicespick">
    <ul>
        <li>@Html.ActionLink("Italy", "Italy", "Home")</li>
        <li class="active1">@Html.ActionLink("Germany", "Germany", "Home")</li>
        <li>@Html.ActionLink("France", "France", "Home")</li>
    </ul>
</div>
<div class="ger1">
    <div class="ptext">
        <span class="border"> Germany </span>
    </div>
</div>

<section class="section section-light">
    <h2> Germany </h2>
    <p>
        Culture in German states has been shaped by major intellectual and popular currents in Europe, both religious and secular. Historically, 
        Germany has been called Das Land der Dichter und Denker ("the land of poets and thinkers"), because of the major role its writers and 
        philosophers have played in the development of Western thought. A global opinion poll for the BBC revealed that Germany is recognised
        for having the most positive influence in the world in 2013 and 2014.
    </p>
    <p>
        Germany is well known for such folk festival traditions as Oktoberfest and Christmas customs, which include Advent wreaths, Christmas 
        pageants, Christmas trees, Stollen cakes, and other practices. As of 2016 UNESCO inscribed 41 properties in Germany on the World 
        Heritage List. There are a number of public holidays in Germany determined by each state; 3 October has been a national day of Germany
        since 1990, celebrated as the Tag der Deutschen Einheit (German Unity Day).
    </p>
</section>

<div class="ger2">
    <div class="ptext">
        <span class="border trans"> Berlin </span>
    </div>
</div>

<section class="section section-dark">
    <p>
        Berlin is a world city of culture, politics, media and science. Its economy is based on high-tech firms and the service
        sector, encompassing a diverse range of creative industries, research facilities, media corporations and convention venues. Berlin 
        serves as a continental hub for air and rail traffic and has a highly complex public transportation network. The metropolis is a popular 
        tourist destination. Significant industries also include IT, pharmaceuticals, biomedical engineering, clean tech, biotechnology, 
        construction and electronics.
    </p>
    <p>
        Berlin is home to world-renowned universities such as the Humboldt Universität zu Berlin (HU Berlin), the Technische Universität Berlin 
        (TU Berlin), the Freie Universität Berlin (Free University of Berlin), the Universität der Künste (University of the Arts, UdK) and the 
        Berlin School of Economics and Law. The city has numerous orchestras, museums, and entertainment venues, and is host to many sporting events.
        Its Zoological Garden is the most visited zoo in Europe and one of the most popular worldwide. With the world's oldest large-scale movie
        studio complex, Berlin is an increasingly popular location for international film productions. The city is well known for its festivals, 
        diverse architecture, nightlife, contemporary arts and a very high quality of living. Since the 2000s Berlin has seen the emergence of a
        cosmopolitan entrepreneurial scene.
    </p>
</section>

<div class="ger3">
    <div class="ptext">
        <span class="border trans"> Munich </span>
    </div>
</div>

<section class="section section-dark">
    <p>
        The city is a global centre of art, science, technology, finance, publishing, culture, innovation, education, business, and tourism and 
        enjoys a very high standard and quality of living, reaching first in Germany and third worldwide according to the 2018 Mercer survey, 
        and being rated the world's most liveable city by the Monocle's Quality of Life Survey 2018. According to the Globalization and World 
        Rankings Research Institute Munich is considered an alpha-world city, as of 2015. Munich is a major international center of engineering,
        science, innovation, and research, exemplified by the presence of two research universities, a multitude of scientific institutions in the
        city and its surroundings, and world class technology and science museums like the Deutsches Museum and BMW Museum. Munich houses many 
        multinational companies and its economy is based on high tech, automobiles, the service sector and creative industries, as well as IT, 
        biotechnology, engineering and electronics among many others.
    </p>

    <p>
        The Bavarian dialects are spoken in and around Munich, with its variety West Middle Bavarian or Old Bavarian <i>(Westmittelbairisch / Altbairisch)</i>
        . Austro-Bavarian has no official status by the Bavarian authorities or local government, yet is recognised by the SIL and has its own ISO-639
        code.
    </p>
</section>

<div class="ger4">
    <div class="ptext">
        <span class="border trans"> Frankfurt </span>
    </div>
</div>

<section class="section section-dark">
    <p>
        Frankfurt is an alpha world city and a global hub for commerce, culture, education, tourism and transportation. It is the site of many global
        and European corporate headquarters. Frankfurt Airport is among the world's busiest. Frankfurt is the major financial centre of the European
        continent, with the headquarters of the European Central Bank, Deutsche Bundesbank, Frankfurt Stock Exchange, Deutsche Bank, DZ Bank, KfW, 
        Commerzbank, several cloud and fintech startups and other institutes. Automotive, technology and research, services, consulting, media and 
        creative industries complement the economic base. Frankfurt's DE-CIX is the world's largest internet exchange point. Messe Frankfurt is one 
        of the world's largest trade fairs. Major fairs include the Frankfurt Motor Show, the world's largest motor show, the Music Fair, and the
        Frankfurt Book Fair, the world's largest book fair.
    </p>
    <p>
        Frankfurt is home to influential educational institutions, including the Goethe University, the UAS, the FUMPA, and graduate schools like the 
        Frankfurt School of Finance & Management. Its renowned cultural venues include the concert hall Alte Oper, Europe's largest English theatre 
        and many museums. Frankfurt's skyline is shaped by some of Europe's tallest skyscrapers. The city is also characterised by various
        green areas and parks, including the central Wallanlagen, the City Forest and two major botanical gardens, the Palmengarten and the
        University's Botanical Garden. Very important is also the Frankfurt Zoo. In electronic music, Frankfurt has been a pioneering city since the 
        1980s, with renowned DJs including Sven Väth, Marc Trauner, Scot Project, Kai Tracid, and the clubs Dorian Gray, U60311, Omen and Cocoon. In 
        sports, the city is known as the home of the top tier football club Eintracht Frankfurt, the Löwen Frankfurt ice hockey team, the basketball
        club Frankfurt Skyliners, the Frankfurt Marathon and the venue of Ironman Germany.
    </p>
</section>

<div class="ger1">
    <div class="ptext">
        <span class="border"> @Html.ActionLink("Purchase Now", "Germany", "PaketaInfoes", null, new { @class = "kot2 hover" }) </span>
    </div>
</div>