
@{
    ViewBag.Title = "Italy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="servicespick">
    <ul>
        <li class="active1">@Html.ActionLink("Italy", "Italy", "Home")</li>
        <li>@Html.ActionLink("Germany", "Germany", "Home")</li>
        <li>@Html.ActionLink("France", "France", "Home")</li>
    </ul>
</div>
<div class="dimg1">
    <div class="ptext">
        <span class="border"> Italy </span>
    </div>
</div>

<section class="section section-light">
    <h2> Italy</h2>
    <p>
        Divided by politics and geography for centuries until its eventual unification in 1861, Italy's culture has been shaped by a multitude of 
        regional customs and local centres of power and patronage. Italy has had a central role in Western culture for centuries and is still 
        recognised for its cultural traditions and artists. During the Middle Ages and the Renaissance, a number of magnificent courts competed for 
        attracting the best architects, artists and scholars, thus producing a great legacy of monuments, paintings, music and literature. 
        Despite the political and social isolation of these courts, Italy's contribution to the cultural and historical heritage of Europe and 
        the world remain immense.
    </p>
    <p>
        taly has more UNESCO World Heritage Sites (55) than any other country in the world, and has rich collections of art, culture and literature 
        from many periods. The country has had a broad cultural influence worldwide, also because numerous Italians emigrated to other places during
        the Italian diaspora. Furthermore, Italy has, overall, an estimated 100,000 monuments of any sort (museums, palaces, buildings, statues, 
        churches, art galleries, villas, fountains, historic houses and archaeological remains), and according to some estimates the nation is 
        home to half the world's great art treasures.
    </p>
</section>

<div class="dimg2">
    <div class="ptext">
        <span class="border trans"> Milan </span>
    </div>
</div>

<section class="section section-dark">
    <p>
        Milan is considered a leading alpha global city, with strengths in the field of the art, commerce, design, education, entertainment, 
        fashion, finance, healthcare, media, services, research and tourism. Its business district hosts Italy's stock exchange (Italian: Borsa 
        Italiana), and the headquarters of national and international banks and companies. In terms of GDP, it has the second-largest economy among 
        EU cities after Paris, and is the wealthiest among EU non-capital cities. Milan is considered part of the Blue Banana and one of the 
        "Four Motors for Europe".
    </p>
    <p>
        The city has been recognized as one of the world's four fashion capitals thanks to several international events and fairs, including
        Milan Fashion Week and the Milan Furniture Fair, which are currently among the world's biggest in terms of revenue, visitors and growth.
        It hosted the Universal Exposition in 1906 and 2015. The city hosts numerous cultural institutions, academies and universities, 
        with 11% of the national total enrolled students. Milan is the destination of 8 million overseas[citation needed] visitors every year, 
        attracted by its museums and art galleries that include some of the most important collections in the world, including major works by 
        Leonardo da Vinci. The city is served by many luxury hotels and is the fifth-most starred in the world by Michelin Guide. The city is
        home to two of Europe's most successful football teams, A.C. Milan and F.C. Internazionale, and one of Europe's main basketball teams,
        Olimpia Milano. Milan will host the 2026 Winter Olympics together with Cortina d'Ampezzo.
    </p>
</section>

<div class="dimg3">
    <div class="ptext">
        <span class="border trans"> Venice </span>
    </div>
</div>

<section class="section section-dark">
    <p>
        Venice has been known as "La Dominante", "La Serenissima", "Queen of the Adriatic", "City of Water", "City of Masks", "City of Bridges", 
        "The Floating City", and "City of Canals". The lagoon and a part of the city are listed as a UNESCO World Heritage Site. Parts of Venice 
        are renowned for the beauty of their settings, their architecture, and artwork. Venice is known for several important artistic 
        movements—especially during the Renaissance period—has played an important role in the history of symphonic and operatic music, and is the
        birthplace of Antonio Vivaldi.
    </p>
    <p>
        Although the city is facing some challenges (including an excessive number of tourists and problems caused by pollution, tide peaks and 
        cruise ships sailing too close to buildings), Venice remains a very popular tourist destination, a major cultural centre, and has been 
        ranked many times the most beautiful city in the world. It has been described by the Times Online as one of Europe's most romantic cities
        and by The New York Times as "undoubtedly the most beautiful city built by man".
    </p>
</section>

<div class="dimg4">
    <div class="ptext">
        <span class="border trans"> Rome </span>
    </div>
</div>

<section class="section section-dark">
    <p>
        Rome is an important centre for music, and it has an intense musical scene, including several prestigious music conservatories and theatres.
        It hosts the Accademia Nazionale di Santa Cecilia (founded in 1585), for which new concert halls have been built in the new Parco della 
        Musica, one of the largest musical venues in the world. Rome also has an opera house, the Teatro dell'Opera di Roma, as well as several 
        minor musical institutions. The city also played host to the Eurovision Song Contest in 1991 and the MTV Europe Music Awards in 2004.
    </p>
    <p>
        Rome has also had a major impact in music history. The Roman School was a group of composers of predominantly church music, which were active
        in the city during the 16th and 17th centuries, therefore spanning the late Renaissance and early Baroque eras. The term also refers to the
        music they produced. Many of the composers had a direct connection to the Vatican and the papal chapel, though they worked at several 
        churches; stylistically they are often contrasted with the Venetian School of composers, a concurrent movement which was much more 
        progressive. By far the most famous composer of the Roman School is Giovanni Pierluigi da Palestrina, whose name has been associated for 
        four hundred years with smooth, clear, polyphonic perfection. However, there were other composers working in Rome, and in a variety of styles 
        and forms.
    </p>
</section>
<div class="dimg1">
    <div class="ptext">
        <span class="border"> @Html.ActionLink("Purchase Now", "Italy", "PaketaInfoes", null, new { @class = "kot2 hover" }) </span>
    </div>
</div>