
@{
    ViewBag.Title = "Italy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="servicespick">
    <ul>
        <li class="active1">@Html.ActionLink("Oculus Quest", "OculusQuestService", "Home")</li>
        <li>@Html.ActionLink("Valve Index", "ValveIndexService", "Home")</li>
        <li>@Html.ActionLink("Playstatio VR", "PlaystationVrService", "Home")</li>
    </ul>
</div>
<div class="dimg1">
    <div class="ptext">
        <span class="border"> Oculus Quest II </span>
    </div>
</div>

<section class="section section-light">
    <h2> Oculus Quest II </h2>
    <p>
        Ted ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa
        quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas
        sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro 
        quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt 
        ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis 
        suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit
        esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?
    </p>
    <p>
        ed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa
        quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas
        sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
    </p>
</section>

<div class="dimg2">
    <div class="ptext">
        <span class="border trans"> Kit </span>
    </div>
</div>

<section class="section section-dark">
    <p>
        Nemo enim ipsam voluptatem quia voluptas
        sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro
        quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt
        ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis
        suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit
        esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?
    </p>
    </p>
    <p>
        Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis
        suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit
        esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?
    </p>
</section>

<div class="dimg3">
    <div class="ptext">
        <span class="border trans"> Borderland 2 VR </span>
    </div>
</div>

<section class="section section-dark">
    <p>
        Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis
        suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit
        esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?
    </p>
    <p>
        Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis
        suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit
        esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?
        Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis
        suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit
        esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?
    </p>
</section>

@*<div class="dimg4">
    <div class="ptext">
        <span class="border trans"> Rome </span>
    </div>
</div>

<section class="section section-dark">
    <p>
        Rome is an important centre for music, and it has an intense musical scene, including several prestigious music conservatories and theatres.
        It hosts the Accademia Nazionale di Santa Cecilia (founded in 1585), for which new concert halls have been built in the new Parco della 
        Musica, one of the largest musical venues in the world. Rome also has an opera house, the Teatro dell'Opera di Roma, as well as several 
        minor musical institutions. The city also played host to the Eurovision Song Contest in 1991 and the MTV Europe Music Awards in 2004.
    </p>
    <p>
        Rome has also had a major impact in music history. The Roman School was a group of composers of predominantly church music, which were active
        in the city during the 16th and 17th centuries, therefore spanning the late Renaissance and early Baroque eras. The term also refers to the
        music they produced. Many of the composers had a direct connection to the Vatican and the papal chapel, though they worked at several 
        churches; stylistically they are often contrasted with the Venetian School of composers, a concurrent movement which was much more 
        progressive. By far the most famous composer of the Roman School is Giovanni Pierluigi da Palestrina, whose name has been associated for 
        four hundred years with smooth, clear, polyphonic perfection. However, there were other composers working in Rome, and in a variety of styles 
        and forms.
    </p>
</section>*@
<div class="dimg1">
    <div class="ptext">
        <span class="border"> @Html.ActionLink("Purchase Now", "OculusQuest", "PaketaInfoes", null, new { @class = "kot2 hover" }) </span>
    </div>
</div>