
@{
    ViewBag.Title = "Germany";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="servicespick">
    <ul>
        <li>@Html.ActionLink("Oculus Quest", "OculusQuestService", "Home")</li>
        <li class="active1">@Html.ActionLink("Valve Index", "ValveIndexService", "Home")</li>
        <li>@Html.ActionLink("Playstation VR", "PlaystationVrService", "Home")</li>
    </ul>
</div>
<div class="ger1">
    <div class="ptext">
        <span class="border"> Valve Index </span>
    </div>
</div>

<section class="section section-light">
    <h2> Valve Index </h2>
    <p>
        Ted ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa
        quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas
        sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro
        quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt
        ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis
        suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit
        esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?
    </p>
    <p>
        Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis
        suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit
        esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?
    </p>
</section>

<div class="ger2">
    <div class="ptext">
        <span class="border trans"> Kit </span>
    </div>
</div>

<section class="section section-dark">
    <p>
        Nemo enim ipsam voluptatem quia voluptas
        sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro
        quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt
        ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis
        suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit
        esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?
    </p>
    <p>
        Nemo enim ipsam voluptatem quia voluptas
        sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro
        quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt
        ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis
        suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit
        esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?
    </p>
</section>

<div class="ger3">
    <div class="ptext">
        <span class="border trans"> Half-Life: Alyx </span>
    </div>
</div>

<section class="section section-dark">
    <p>
        Nemo enim ipsam voluptatem quia voluptas
        sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro
        quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt
        ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis
        suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit
        esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?
    </p>

    <p>
        Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis
        suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit
        esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?
    </p>
</section>

@*<div class="ger4">
    <div class="ptext">
        <span class="border trans"> Frankfurt </span>
    </div>
</div>

<section class="section section-dark">
    <p>
        Frankfurt is an alpha world city and a global hub for commerce, culture, education, tourism and transportation. It is the site of many global
        and European corporate headquarters. Frankfurt Airport is among the world's busiest. Frankfurt is the major financial centre of the European
        continent, with the headquarters of the European Central Bank, Deutsche Bundesbank, Frankfurt Stock Exchange, Deutsche Bank, DZ Bank, KfW, 
        Commerzbank, several cloud and fintech startups and other institutes. Automotive, technology and research, services, consulting, media and 
        creative industries complement the economic base. Frankfurt's DE-CIX is the world's largest internet exchange point. Messe Frankfurt is one 
        of the world's largest trade fairs. Major fairs include the Frankfurt Motor Show, the world's largest motor show, the Music Fair, and the
        Frankfurt Book Fair, the world's largest book fair.
    </p>
    <p>
        Frankfurt is home to influential educational institutions, including the Goethe University, the UAS, the FUMPA, and graduate schools like the 
        Frankfurt School of Finance & Management. Its renowned cultural venues include the concert hall Alte Oper, Europe's largest English theatre 
        and many museums. Frankfurt's skyline is shaped by some of Europe's tallest skyscrapers. The city is also characterised by various
        green areas and parks, including the central Wallanlagen, the City Forest and two major botanical gardens, the Palmengarten and the
        University's Botanical Garden. Very important is also the Frankfurt Zoo. In electronic music, Frankfurt has been a pioneering city since the 
        1980s, with renowned DJs including Sven Väth, Marc Trauner, Scot Project, Kai Tracid, and the clubs Dorian Gray, U60311, Omen and Cocoon. In 
        sports, the city is known as the home of the top tier football club Eintracht Frankfurt, the Löwen Frankfurt ice hockey team, the basketball
        club Frankfurt Skyliners, the Frankfurt Marathon and the venue of Ironman Germany.
    </p>
</section>*@

<div class="ger1">
    <div class="ptext">
        <span class="border"> @Html.ActionLink("Purchase Now", "ValveIndex", "PaketaInfoes", null, new { @class = "kot2 hover" }) </span>
    </div>
</div>